<%= render "shared/header" %>
<div class="contents">
  <div class="section">
    <div class="schedule_head">
      <p class="left-click" id="left-click"> 
       <%= link_to image_tag("left-direction.png", class:"click-icon"), admins_reservations_path(params:{ago:(@ago + 1)})%>
      </p>
      <p class="schedule-date" id="schedule-date">
       <%= link_to @time.strftime("%m/%d(#{@wd[@time.wday]})"), "#", class:"schedule-today" %>
      </p>
      <p class="right-click" id="right-click">
       <%= link_to image_tag("right-direction.png", class:"click-icon"), admins_reservations_path(params:{ago:(@ago - 1)})%>
      </p>
      <div class="stylist-name" id="stylist-name">
        <%= form_with url:"#" do |f| %>
          <%# <%= f.collection_select(:stylist_id, Stylist.all, :id, :name) %>
        <% end %>
        <p class="display">表示</p> 
      </div>
    </div>
  </div>
  <div class="table-all" id="table-all">
    <table class="table" style="margin-bottom:30px;"> 
      <tr>
        <th class="table_head">予約時間</th>
        <% 24.times do |i| %>
          <% @salon_time = (@salon_start + (i * 60.minutes)).strftime("%H:%M") %>
          <% break if @salon_time.to_i >  @salon_end.strftime("%H:%M").to_i %>
          <th colspan="2" class="table_head_time"><%= @salon_time%></th>
        <% end %>
      </tr>
      <tr>
        <th class="table_bodytop"> 予約数 </th>
        <% 24.times do |i| %>
          <% @salon_time = (@salon_start + (i * 30.minutes)).strftime("%H:%M") %>
          <% break if @salon_time.to_i >  @salon_end.strftime("%H:%M").to_i %> 
          <td class="am"><% @salon_time%>3</td>
        <% end %>
      </tr>
       <tr>
        <th class="table_bodytop"> 残り席数 </th>
        <% 24.times do |i| %>
          <% @salon_time = (@salon_start + (i * 30.minutes)).strftime("%H:%M") %>
          <% break if @salon_time.to_i >  @salon_end.strftime("%H:%M").to_i %> 
          <td class="am"><% @salon_time%>3</td>
        <% end %>
      </tr>
      <div class="table03" id="table03">
          <%= render partial: 'reservations', collection: @reservations %>
      </div>
    </table>
  </div>
</div>
<%= render "shared/footer_reservation_index"%>

 
 