<%= render "shared/header_top" %>
<div class="contents1">
  <div class="section1">
    <div class="top_page_background_image_area">
    </div>
    <div class="salon_name_area">
      <ul class="salon_detail_area">
        <li class="salon_detail_text">
          ふれあう全ての人が“なりたい自分”になれる場所
        </li>
        <li class="salon_name1">
          サンプル
        </li>
      </ul>
      <ul class="salon_detail_area2">
        <li class="salon_detail_description1">
          説明1
        </li>
        <li class="salon_detail_description2">
          説明2
        </li>
      </ul>
    </div>
    <div class="item_display_area">
      <ul class="item_display">
        <li class="item1">
        </li>
        <li class="item2">
        </li>
        <li class="item3">
        </li>
      </ul>
      <div class="item_list_area">
        <%= link_to "#" do %>
          <p class="item_list_btn">Item Lists</p>
        <% end %>
      </div>
    </div>
    <div class="style_phot_area">
      <p class="style_phot_name">StylePhot</p>
      <ul class="style_display_area">
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
      </ul>
      <div class="item_list_area">
        <%= link_to "#" do %>
          <p class="item_list_btn1">MORE PHOTS</p>
        <% end %>
      </div>
    </div>
    <div class="style_phot_area">
      <p class="style_phot_name">Stylist</p>
      <ul class="style_display_area">
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
        <li class="style_phot">
          <% %>
        </li>
      </ul>
      <div class="item_list_area">
        <%= link_to "#" do %>
          <p class="item_list_btn1">Stylists</p>
        <% end %>
      </div>
    </div>
    <div class="salon_place_area">
      <p class="salon_place_name">サンプル</p>
      <ul class="salon_place_display">
        <li class="salon_phot_left">
          
        </li>
        <li class="salon_phot_rigth">
        </li>
      </ul>
    </div>
  </div>
</div>
<%= render "shared/footer_root"%>