<%= render "shared/header_top" %>
<div class="contents1">
  <div class="section1">
      <div class="top_page_background_image_area">
        <p class="top_page_image">
          <% if Salon.count == 0 %>
            <span class="background_image">
               (サンプル画像)
              <%= image_tag 'top-image.jpeg' %>
            </span>
          <% else %>
            <%= image_tag @salon.salon_top_image, class: "stylist-img" if @salon.salon_top_image.attached? %> 
          <% end %>
        </p>
      </div>
      <div class="salon_name_area">
        <% if Salon.count == 0 %>
          <ul class="salon_detail_area">
           <li class="salon_detail_text">
            サンプル(La Vie en Reflet(ラ・ヴィ・アン・ルフレット))
           </li>
           <li class="salon_name1">
            サンプル(「輝く人生」といった意味です。「薔薇色の人生」へ)
           </li>
          </ul>
        <% else %>
          <ul class="salon_detail_area">
           <li class="salon_detail_text">
            <%= @salon.salon_name %>
           </li>
           <li class="salon_name1">
            <%= @salon.salon_slogan%>
           </li>
          </ul>
        <% end %>
        <ul class="salon_detail_area2">
          <% if Salon.count == 0 %>
            <li class="salon_detail_description1">
              サンプル(髪だけでなく全身に癒しを与えます)
            </li>
          <% else %>
            <li class="salon_detail_description1">
              <%= @salon.salon_info %>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="item_display_area">
        <ul class="item_display">
          <li class="item1">
          </li>
          <li class="item2">
          </li>
          <li class="item3">
          </li>
        </ul>
        <div class="item_list_area">
          <%= link_to "#" do %>
            <p class="item_list_btn">Item Lists</p>
          <% end %>
        </div>
      </div>
      <div class="style_phot_area">
        <p class="style_phot_name">StylePhot</p>
        <ul class="style_display_area">
        <% if Stylist.count == 0 %>
           <li class="style_phot">
           </li>
        <% else %>
          <% @stylists.each do |stylist| %>
             <% if stylist.portraits.attached? %>
               <% stylist.portraits.each do |portrait| %> 
                  <li class="style_phot">
                    <%= image_tag portrait %>
                  </li>
               <% end %>
             <% end %>
           <% end%>
        <% end %>
        </ul>
        <div class="item_list_area">
          <%= link_to "#" do %>
            <p class="item_list_btn1">MORE PHOTS</p>
          <% end %>
        </div>
      </div>
      <div class="style_phot_area">
        <p class="style_phot_name">Stylist</p>
        <ul class="style_display_area">
          <% if Stylist.count == 0 %>
            <li class="style_phot">
            </li>
            <li class="style_phot">
            </li>
            <li class="style_phot">
            </li>
            <li class="style_phot">
            </li>
            <li class="style_phot">
            </li>
          <% else %>
            <% @stylists.each do |stylist| %>
              <%= link_to users_stylist_path(stylist.id) do %>
              <li class="style_phot">
                  <% if stylist.portraits.attached? %>
                    <%= image_tag stylist.image %>
                  <% end %>
              </li>
               <% end %>
            <% end %>
          <% end %>
        </ul>
        <div class="item_list_area">
          <%= link_to "#" do %>
            <p class="item_list_btn1">Stylists</p>
          <% end %>
        </div>
      </div>
      <div class="salon_place_area">
        <p class="salon_place_name">サンプル</p>
        <ul class="salon_place_display">
          <li class="salon_phot_left">
            
          </li>
          <li class="salon_phot_rigth">
          </li>
        </ul>
      </div>
  </div>
</div>
<%= render "shared/footer_root"%>