<%= render "shared/header_salon" %>
<div class="contents">
  <div class="section">
    <div class="new_spcial_area">
      <div class="customer_title">
          <p class="block_area"></p>
          <h1 style="background-color:#9b9b9b;color:white;"class="title1 stylist_space"><%= @date_to.strftime("%m月")%>休日登録</h1>
      </div>
      <%= @date_to%>
      <%= form_with model: @spcial_holiday, url: admins_spcial_holidays_path(@date_to), local: true do |f| %>
        <table class="new_spcial_table">
          <colgroup width="30%"></colgroup>
          <colgroup width="70%"></colgroup>
          <% 15.times do |i| %>
           <% i = i + 1%>
            <tr>
              <th class="salon_new_spcial_th">
                店休日選択<%= i%>
              </th>
              <td class="salon_new_spcial_td">
                <%= @date_to.strftime("%Y年%m月") %> <%= f.text_field :holliday, class:"new_spcial_field", placeholder:"例）25", maxlength: "2" %>(半角数字で入力してください)
              </td>
            </tr>
          <% end %>
        </table>
        <table style="width:100%;height:20px;margin-top:30px;margin-bottom:30px;">
        <tr>
          <td class="register_td">
            <%= f.submit "登録", class:"register_btn"%>
          </td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer"%>