<footer class="page-footer">
  <div class="path">
   <div class="path-section">
    <p>sample様 / number / 即時予約 / サロン代表者名 / 管理ID / </p>
   </div>
  </div>
  <div class="footer" id="footer" style="min-height: 90px;">
   <div class="area-section">
    <div class="link_area">
     <ul class="link_cf">
       <li>
        <%= link_to "お問い合わせ", "#", class:"link-icon", id:"inquiry" %>
       </li>
       <li>
        <%= link_to "利用規約", "#", class:"link-icon", id:"terms" %>
       </li>
       <li>
        <%= link_to "プライバシーポリシー", "#", class:"link-icon", id:"privacy_policy" %>
       </li>
       <li>
        <%= link_to "ヘルプ", "#", class:"link-icon", id:"online_manual" %>
       </li>
     </ul>
    </div>
   </div>
    <div class="address">
     <p class="logo1" id="logo1">
      <%= link_to image_tag("salone-logo.png", class:"salone-icon1"), "/" %>
     </p>     
     <p class="company">
      <%= link_to "会社名", "#", class:"company_name" %>
     </p>
    </div>
  </div>
</footer>