<header class='top-page-header'>
  <div class="header" id="header-name"> 
    <div class="header-section">
      <p class="logo" id="logo">
       <%= link_to image_tag("salone-logo.png", class:"salone-icon"), "/" %>
      </p>     
      <div class="btn_area" id="bot-all">
        <ul class="shop_name_wrap">
          <li class="shop_area">ヘアサロン</li>
          <% if current_admin.salon.salon_name.blank? %>
            <li class="shop_name">サンプル(La Vie en Reflet(ラ・ヴィ・アン・ルフレット))</li>
          <% else %>
            <li class="shop_name"><%= current_admin.salon.salon_name %>(<%= current_admin.salon.salon_name_cana %>)</li>
          <% end %>
        </ul>
        <ul class="btn-all">
          <li><%= link_to "予約管理", admins_reservations_path, class:"management"%></li>
          <li><%= link_to "お客様管理", admins_users_path, class:"user-management"%></li>
          <li><%= link_to "スタイリスト管理", admins_stylists_path ,class:"salon_management"%></li>
          <li><%= link_to "店舗管理", admins_salons_path ,class:"salon_management"%></li>
          <li><%= link_to "店舗メニュー", admins_menus_path, class: "salon_management" %></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="btn-bottom" id="btn-bottom">
    <div class="section-bottom">
      <div class="btn-column">
        <ul class="column-all">
            <li><%= link_to "サロン情報", admins_salons_path, class:"stylist_list1" %></li>
            <li><%= link_to "詳細情報", admins_salon_salon_details_path(current_admin.salon.id), class:"stylist_list1" %></li>
        </ul>
      </div>
    </div>
  </div>
</header>