<div class="contents_new" style="background-color: rgb(237, 228, 217);">
  <div class="new_reservation_top_area">
    <%= link_to root_path do%>
        <p class="new_reservation_top">トップページに戻る</p>
    <% end%>
  </div>
  <div class="salon_title_area">
      <div class="new_reservation_display">
        <ul class="new_reservation_display_list">
          <li class="reservation_li1">予約確認</li>
          <li class="reservation_li2">※予約完了した時点で予約が確定します。</li>
        </ul>
      </div>
      <div class="re_new_salon_title">
        <p class="re_new_title">
          <% %>sapmle<span style="margin-left:10px;"><% %>読み方<span>
        </p>
        <p class="re_new_subtitle">
          <% %>読み方
        </p>
      </div>
  </div>
  <div class="new_reservation_description_area">
    <h2 class="new_reservation_description1">
      ご希望するご来店日を選択してください
    </h2>
    <p class="new_reservation_description2">
      <span class="new_reservation_maru">◎</span> の日時から施術を開始することが出来ます。ご希望の来店日時の <span class="new_reservation_maru">◎</span> を選択してください。
    </p>
  </div>
  <div class="new_reservation_menu_area">
    <p class="new_reservation_choice">
      選択済みメニュー
    </p>
    <ul class="new_reservation_menu1">
      <li class="new_reservation_category">
        <%= @menu.customer_type.name %>
      </li>
      <li class="new_reservation_menu_name">
        <%= @menu.menu_name %>
      </li>
      <li class="new_reservation_menu_price">
        <span style="color:rgb(242, 106, 106);">￥<%= @menu.price%> </span>税込
      </li>
      <li class="new_reservation_menu_time">
        <%= @menu.menu_time.name %>
      </li>
    </ul>
  </div>
  <div class="time_sum_area">
    <li class="time_sum_name">
      施術時間合計 (目安)
    </li>  
    <li class="time_sum">
     <%= Time.at(@menu.menu_time.sum).utc.strftime("%H時間%M分")  %>
    </li>
  </div>
  <div class="table_reservation_new_area">
    <p class="salon_free_name">
      サロン空き状況
    </p>
    <table class="table_reservation_new1" border="1" style="margin-top:30px;">
       <colgroup width="10%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="5%"></colgroup>
       <colgroup width="10%"></colgroup>
       <tr>
         <th rowspan="2" class="reservation_top_name">
           <ul class="ago_week_area">
             <li class="ago_week">
               <% if @ago == 0 %>
                 前の一週間
               <% else %>
                 <%= link_to new_users_reservation_path(@menu, params:{ago:(@ago + 14)}), class:"next_week1" do%>
                   前の一週間
                 <% end %>
               <% end %>
             </li>
           </ul>
         </th>
         <th colspan="14" class="reservation_center_name">
          <%= link_to new_users_reservation_path(@menu) do %>
            <span class="today_color"><%= Date.today.strftime("%Y/%m/%d(#{@wd[(@day).wday] })")%>  (当日に戻る)</span>
          <% end %>
         </th>
         <th rowspan="2" class="reservation_top_name">
           <ul class="next_week_area">
             <li class="next_week">
               <%= link_to new_users_reservation_path(@menu, params:{ago:(@ago - 14)}), class:"next_week1" do%>
                 次の一週間
               <% end %>
             </li>
           </ul>
         </th>
       </tr>
       <tr>
        <% check = false %>
        <% 14.times do |num|%>
          <th class="new_reservation_date">
            <%= @days = (@day + num).strftime("%m/%d(#{@wd[(@day + num).wday] })")%>
          </th>
        <% end %>
      </tr>
      <% 24.times do |i| %>
        <% @salon_time = (@salon_start + (i * 30.minutes)).strftime("%H:%M") %>
        <% break if @salon_time.to_i >  @salon_end.strftime("%H:%M").to_i %>
        <tr>
          <th class="new_reservation_time">
            <%= @salon_time %>
          </th>
          <td class="new_reservation_date_btn">
            <% @reservations.each do |reservation|%>
              <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == @day.strftime("%Y年%m月%d日") %>
                <% check = true %>
              <% end %>
            <% end %>
             <% if check %>
              × 
              <% check = false%>
            <% else %>
              <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                <span class="new_reservation_maru">◎</span>
               <% end %>
            <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day+ 1).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 2).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 3).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 4).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 5).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 6).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 7).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 8).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 9).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 10).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 11).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                    <span class="new_reservation_maru">◎</span>
                  <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 12).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <td class="new_reservation_date_btn">
              <% @reservations.each do |reservation|%>
                <% if reservation.menu_start_time.strftime("%H%M").to_i <= (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i && (@salon_start + (i * 30.minutes)).strftime("%H%M").to_i < reservation.menu_end_time.strftime("%H%M").to_i && reservation.date.strftime("%Y年%m月%d日") == (@day + 13).strftime("%Y年%m月%d日") %>
                  <% check = true %>
                <% end %>
              <% end %>
              <% if check%>
                × 
                <% check = false%>
              <% else %>
                <%= link_to confirm_users_reservations_path(@menu,time: @salon_start + (i * 30.minutes), date: ((@day).strftime("%Y/%m/%d(#{@wd[(@day).wday] })"))) do %>
                  <span class="new_reservation_maru">◎</span>
                <% end %>
              <% end %>
            </td>
            <th class="new_reservation_time">
              <%= @salon_time %>
            </th>
          </tr>
      <% end %>
    </table>
  <div>
</div>