<tr class="display_body">
  <% if users.admin_id == current_admin.id %>
    <td class="display_td">
      <%= link_to admins_user_path(users.id) do %>
        <span class="user_full_name"> <%= users.first_name_cana.to_s + users.last_name_cana.to_s %></span>
      <% end %>
    </td>
    <td class="display_td">
      <%= users.first_name.to_s + users.last_name.to_s %>
    </td>
    <td class="display_td">  
      <%= users.customer_number %>
    </td>
    <td class="display_td">
      <%= users.user_detail.gender.name %>
    </td>
    <td class="display_td">
      <%= users.user_detail.job.name %>
    </td>
    <td class="display_td">
      <% %>
    </td>
    <td class="display_td">
      <% %>
    </td>
  <% end %>
</tr>