<div class="login-form">
  <h2>Log in(管理者用)</h2>
  <div class="login-inputs">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <div class="login-field">
        <%= f.label :email, class: "login-text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-input-area" %>
   </div>

    <div class="login-field">
        <%= f.label :password, class: "login-text" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "login-input-area" %>
    </div>

    <% if devise_mapping.rememberable? %>
        <div class="login-field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: "login-text" %>
        </div>
    <% end %>
    <div class="login-actions">
        <%= f.submit "Log in", class: "login-btn" %>
    </div>
  <% end %>
</div>
<div class="login-back_area">
   <%= link_to "Back to the Future", root_path, class:"login-back_btn" %>
</div>


<%# <%= render "admins/shared/links" %>
