<div class="contents">
  <div class="section">
    <%= link_to root_path do %>
      <p class="salon_new_top_page">トップページに戻る</p>
    <% end %>
    <p class="salon_new_page">サロン情報の登録お願いします。</p>
     <%= form_with model: @salon, url: admins_salons_path, id: 'new_salon', local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>
      
      <table class="salon_new_table">
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="10%"></colgroup>
          <colgroup width="10%"></colgroup>
          <tr>
            <th colspan="6" class="stylist_title">サロン情報設定
              <p class="block_area"></p>
            </th>
          </tr>
          <tr>
            <th colspan="1" class="stylist_input_name">サロン名<span class="circle">🔴</span></th>
            <td colspan="5" class="salon_new_td">
              <%= f.text_field :salon_name, class:"new_salon_name_filed"%>
            </td>
          </tr>
          <tr>
            <th colspan="1" class="stylist_input_name">サロン名<span class="circle">🔴</span></th>
            <td colspan="5" class="salon_new_td">
              <%= f.text_field :salon_name_cana, class:"new_salon_name_filed"%>
            </td>
          </tr>
          <tr>
            <th colspan="1" class="stylist_input_name">サロンスローガン<span class="circle">任意</span></th>
            <td colspan="5" class="salon_new_td">
              <%= f.text_field :salon_slogan, class:"new_salon_name_filed"%>
            </td>
          </tr>
          <tr>
            <th colspan="1" class="stylist_input_name">サロン情報（説明）<span class="circle">任意</span></th>
            <td colspan="5" class="salon_new_td">
              <%= f.text_field :salon_info, class:"new_salon_name_filed"%>
            </td>
          </tr>
          <tr class="address_table1">
            <th class="input_name">住所</th>
            <td colspan="5" class="salon_address_input">
              <ul class="salon_address_input1">
                <li>
                  〒
                </li>
                <li class="new_salon_post">
                  <%= f.text_field :post_code, class:"post_feild1", placeholder:"例）123-4567", onKeyUp:"AjaxZip3.zip2addr('salon[post_code]','','salon[prefecture_id]','salon[address_all]');" %>
                </li>
                <li>
                  <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "--"}, {class:"select-box", id:"prefecture"}) %>
                </li>
                <li>
                  <%= f.text_field :address_all, class:"address_field" %>
                </li>
              </ul>
            </td>
          </tr> 
          <tr>
            <th colspan="1" class="stylist_input_name">開始時間<span class="circle">🔴</span></th>
            <td colspan="5" class="salon_new_td">
              <%= f.time_select :start_time, class:"new_salon_field", id:"new_salon_field", minute_step: 30%>
            </td>
          </tr>
          <tr>
            <th colspan="1" class="stylist_input_name">終了時間<span class="circle">🔴</span></th>
            <td colspan="5" class="salon_new_td">
              <%= f.time_select :end_time, class:"new_salon_field", id:"new_salon_field", minute_step: 30%>
            </td>
          </tr>
        </table>
        <table class="salon_new_table1">
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="10%"></colgroup>
          <colgroup width="10%"></colgroup>
          <tr>
            <th colspan="6" class="stylist_title">サロントップ画像設定
              <p class="block_area"></p>
            </th>
          </tr>
          <tr>
            <td class="stylist_image">
              <div class="image_area">
              </div>
              <label class="form-image">
                <span class="image-file">アップロード</span>
                <%= f.file_field :salon_top_image, class:"image_style"  %>
              </label>
              <div id="image_top_list" class="image-size"></div>
            </td>
          </tr>
      </table>
      <table class="salon_new_table1">
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="20%"></colgroup>
          <colgroup width="10%"></colgroup>
          <colgroup width="10%"></colgroup>
          <tr>
            <th colspan="6" class="stylist_title">サロン詳細画像設定
              <p class="block_area"></p>
            </th>
          </tr>
          <tr>
            <td class="stylist_image">
              <div class="image_area">
              </div>
              <label class="form-image">
                <span class="image-file">アップロード</span>
                <%= f.file_field :salon_bottom_image, class:"image_style"  %>
              </label>
              <div id="image_bottom_list" class="image-size"></div>
            </td>
          </tr>
      </table>
      <table style="width:100%;height:20px;margin-top:30px;">
        <tr>
          <td class="register_td">
            <ul class="salon_register_btn">
              <li>
                <%= f.submit "登録", class:"register_btn"%>
              </li>
              <li class="stylist_cancel_btn">
                <%= link_to "キャンセル", url: admins_salons_path, class:"cancel_btn" %>
              </li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
